/* Brand Title Styles */
.brand-title {
    position: absolute;
    top: 5vh;
    left: 5vw;
    display: flex;
    align-items: center;
    width: auto;
    font-family: 'Monomaniac One';
    font-size: 22px;
    color: $chalk-white;
    color: #f3e6c2;
    z-index: 20;
    text-decoration: none;

    &:visited {
        color: #f3e6c2;
    }

    &:active {
        color: #f3e6c2;
    }

    &:link {
        color: #f3e6c2;
    }
}