/* Brand Title Styles */
.brand-title {
    position: absolute;
    top: 3vmax;
    left: 3vmax;
    display: flex;
    align-items: center;
    width: auto;
    font-family: 'Monomaniac One';
    font-size: 22px;
    color: $chalk-white;
    color: #f3e6c2;
    z-index: 20;
    text-decoration: none;

    &:visited {
        color: #f3e6c2;
    }

    &:active {
        color: #f3e6c2;
    }

    &:link {
        color: #f3e6c2;
    }
}
.brand-image{
    margin-left:20px;
    // width:150px;
}
.logo-img{
    // width:30px
}
// @media screen and (max-height:850px) {
// .brand-title {
// top:2vh;
// }
//     .brand-image{
//         margin-left:15px;
//         width:150px;
//     }
//     .logo-img{
//         width:30px
//     }

//     .burger-container{
//         top:1vh;
//     }
// }