
.middle-inner-landing{
    display: grid;
    grid-template-areas: "login signup"
      "guest guest";
    grid-template-columns: 150px 150px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .inner-login{
    grid-area:login;
  }
  
  .inner-signup{
    grid-area:signup;
  }
  .guest-div{
    grid-area:guest;
    display:flex;
    justify-content: center;
    align-items: center;
    >*{
      width:75%;
  
    }
  }
  .signup-icon{
    color:$division-purple;
    transform:scale(0.85)
  }
  .login-icon{
    color:$minus-blue;
  }
  .landing-login-form-button{
    height:40px;
    margin-top:25px;
}