/* Container */
.login-container,
.signup-container,
.forgot-password-container,
.forget-username-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}
.signup-menu-container{
    left:0;
}

/* Headings */
.login-header,
.signup-header,
.forgot-password-header,
.forgot-username-header {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 600;
    color: $chalk-white;
}

/* Form */
.login-form-group,
.signup-form-group,
.forgot-password-form-group,
.forgot-username-form-group {
    margin-bottom: 20px;
}

.signin-button-group,
.play-as-guest,
.forgot-password-form-button,
.forgot-username-form-button {
    width: 100%;
}



.login-input::placeholder,
.signup-input::placeholder,
.forgot-password-input::placeholder,
.forgot-username-input::placeholder {
    font-size: 11px;
}

.logout-container {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.logout-btn {
    appearance: none;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;

    &>* {
        font-size: 16px;
        font-family: 'Roboto';
        color: $chalk-white;
    }
}

.divider {
    width: 100%;
    @include center-flex;
    flex-direction: row;
    padding: 10px 0px;
    font-family: 'Roboto';

}

.line {
    width: 40%;
    height: 1px;
    background: $chalk-white;

}

.or {
    padding: 15px 10px;
    font-size: 0.8em;
    color: $chalk-white;
}


.login-form,
.signup-form,
.forgot-password-form,
.forgot-username-form {
    @include center-flex;
    flex-direction: column;

}

.login-form-group,
.signup-form-group,
.forgot-password-form-group,
.forgot-username-form-group,
.create-account-form-group {
    width: 100%
}

.login-form-button,
.signup-form-button,
.forgot-password-form-button,
.forgot-username-form-button,
.create-account-form-button {
    width: 100%;
    padding: 10px;
    font-family: 'Roboto';
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    height: 45px;
    border-radius: 25px;
    border: none;
    background-color: $minus-blue;
    color: $chalkboard-green
}
.landing-login-form-button{
    height:40px;
    margin-top:25px;
}
.create-account-form-button {
    margin-bottom: 0;
}

.guest-button {
    background-color: $plus-green;
}


.login-blocks,
.google-block {
    min-height: 140px;
    @include center-flex;
    flex-direction: column;
}


.google-button {
    @include center-flex;
    flex-direction: row;

    padding: 2px;
    background: white;
    background: #eff6f9;
    height: 45px;
    width: 264px;
    border: none;
    border-radius: 3px;
    color: transparent;
    transition: all 250ms ease-in;

    background-image: url("../assets/google-svg.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    margin-top: 0;

    &:hover {
        background: #ea4335;
        background-image: none;
        color: $chalk-white;
        transition: all 250ms ease-in;
        background-position: center;
        border-radius: 25px;

    }

    &:active {
        background-position: center;
        color: $chalk-white;
        background: #db3c2d
    }

    &:focus {
        background-position: center;
        color: $chalk-white;
        background: #db3c2d
    }
}

.google-icon-container {
    min-width: 40px;
    margin-left: 5px;
    height: 40px;
    @include center-flex;
    border-radius: 20px;
    background: rgb(190, 89, 89);
    color: white;
}

.google-icon {
    line-height: inherit !important;
    min-width: 40px;
    height: 40px;
    @include center-flex;
    border-radius: 20px;
}

.input-shell {
    background: white;
    border-radius: 3px;
    @include center-flex;
    padding: 0rem 0.5rem 0 1rem;
    gap: 1em;
    height: 45px;
    border: 2px solid white;
    width: 264px;

    &:focus-within {
        border: solid 2px orange;
        transition: border 100ms ease-in;
    }
}

.input-seperator {
    border-left: 1px solid gray;
    height: 30px;
    width: 2px;
}


.reset-password-form-button {
    &:invalid {
        border: 2px solid red;
        background-color: #F8D7DA;
        color: #721C24;
        padding: 0.5em;
        margin: 1em 0;
        border-radius: 0.25em;
        font-size: 0.8em;
    }

    &:valid {
        border: 2px solid green;
        background-color: #D4EDDA;
        color: #155724;
        padding: 0.5em;
        margin: 1em 0;
        border-radius: 0.25em;
        font-size: 0.8em;
    }
}

.password-group {
    margin-bottom: 0;
}

.forgot-text-container,
.forgot-links-container,
.login-create-account-container,
.signup-login-link-container,
.forgot-password-to-login-container,
.forgot-username-to-login-container,
.forgot-password-username-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.forgot-text-container,
.forgot-links-container,
.login-create-account-container {
    margin-bottom: 5px;
}

.forgot-password-label,
.forgot-username-label {
    color: $chalk-white;
    font-size: $smallText;
    font-family: roboto;
}

.forgot-password-to-login-container,
.forgot-username-to-login-container,
.forgot-password-username-container {
    margin-top: 20px;
    justify-content: center;
}

.forgot-password-shell,
.forgot-username-shell {
    width: 264px;
}

.login-create-account-text,
.signup-login-link-text,
.forgot-password-to-login-text,
.forgot-username-to-login-text,
.forgot-password-username-text {
    color: $chalk-white;
    color: #dbd9d6;
    font-family: 'roboto';
    font-size: 11px;
    text-align: center;
    text-decoration: auto;
}

.forgot-text-link,
.login-create-account-link,
.signup-login-link,
.forgot-password-to-login-link,
.forgot-username-to-login-link,
.forgot-password-username-link {
    color: $chalk-white;
    color: #dbd9d6;

    text-decoration: auto;

    font-family: 'roboto';
    font-size: 11px;
    text-align: center;

    &:visited {
        color: $chalk-white;
    }

    &:link {
        color: $chalk-white;
    }

    &:hover {
        color: rgb(208, 219, 231);
    }

    &:active,
    :focus {
        color: rgb(165, 193, 221);
    }
}

.login-create-account-text,
.login-create-account-link,
.signup-login-link-text,
.signup-login-link {
    font-size: $smallText;
}

.input-label {
    display: block;
    font-family: 'Roboto';
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.form-input[type="text"],
.form-input[type="password"],
.form-input[type="email"] {
    width: 100%;
    padding: 8px 0px;
    border: none;
    outline: 0;
    font-size: 14px;
    line-height: 1.5;
    height: 30px;

    &:active,
    :focus {
        border: none;
        outline: 0;
    }
}

.login-label {
    font-size: $smallText;
    font-family: 'Roboto'
}

.login-input::placeholder {
    font-size: $smallText;
    font-family: 'Roboto'
}

.create-account-container,
.go-to-login {
    @include center-flex;
}

.create-account-label,
.have-account-label {
    justify-content: flex-end;
    font-size: $smallText;
    font-family: 'Roboto';
    color: $chalk-white;
}

.create-account-link,
.go-to-login-button {
    text-decoration: underline;
    justify-content: flex-start;
    color: $chalk-white
}

.new-account-button,
.go-to-login-button {
    background: none;
    border: none;
    outline: none;
    margin-left: 20px;
}


.google-login-group {
    margin-bottom: 80px;
}

.signup-top-left,
.signup-bottom-right {
    width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.google-block {
    min-height: 125px;
}
.login-welcome-message{
    font-size:22px;
    width:400px;
    max-width:90vw;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:$chalk-white;
    margin:15px;
    margin-bottom:25px;
    >*{
        padding:8px;
    }
    >.l3{
        font-size:14px;
        text-align: left;
    }
}