@media all and (max-height: 720px) {
    .expanded-menu.active {
        transition: all 0.5s ease;
        width: calc(100vw - 30px - 4vw);
        height: calc(100vh - 25vh);
        border-radius: 10px;
        background-color: $chalk-white;
        display: flex;
        position: absolute;
        top: calc(-3vh + 15px);
        right: calc(-2vw + 15px);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .expanded-menu li {
        margin: 5px 0;
        text-align: left;
        padding: 5px 20px;

        &:hover {
            background-color: white;


            padding: 5px 20px;
        }
        &::after{
            left:12px;
            top:5px;
            height:18px;
            width:1px;
        }
    }


    .expanded-menu a {
        color: $chalkboard-green;
        text-decoration: none;
        font-size: 16px;
    }


    .login-welcome-message {
        display: none;
    }

    .privacy-inner-container {
        margin-top: 12vh;
        margin-bottom: 10vh;

        width: 75vw;
        height: 65vh;
        overflow-y: scroll;

        &>span {
            color: $chalk-white !important;
        }
    }

}

@media screen and (max-width:330px) {

    .google-block {
        min-height: 60px;
    }

    .google-login-group {
        margin-bottom: 10px;
    }
}



@media screen and (orientation: landscape) and (max-width: 767px) {
    .profile-section {
        flex-direction: row;
    }

    .profile-user-section {
        flex-basis: 33.33%;
    }

    .profile-lower-left {
        max-height: calc(100vh - 130px);
        margin-top: calc(3vh + 60px);
    }

    // .badges {
    //     margin: 20px;
    //     grid-template-columns: repeat(3, 1fr);
    //     overflow-y: auto;

    //     max-width: fit-content;
    // }

    .avatar-user-icons {
        grid-template-columns: repeat(4, 1fr);
    }

    .avatar-modal-header {
        >h2 {
            font-size: 18px;
        }
    }

    .avatar-modal-content {
        max-width: 400px;
    }

}




@media screen and (max-aspect-ratio:1.75) and (orientation:portrait) {
    /* CSS code for tablet devices */
    .selected-so-far{
        margin-bottom:0px;
    }
    .header {
        font-size: 24px;
        ;
        margin-bottom: 30px;
        padding-left: 40px;
        padding-right: 25px;
    }

    .icon-container {
        width: 60px;
        height: 60px;
        margin: 5px;
    }

    .icon-text,
    .operator-text {
        font-size: 14px;
    }

    .bottom {
        justify-content: space-between;
        width: 90vw;
    }

    .nav-button {
        font-size: 1.6em;
        // width: 60px;
        // height: 50px;
  
    }

    // .icon {
    //     font-size: 2.5em;
    // }

    .game-top,
    .flash-upper {
        margin-bottom: 5vh;
    }

    .flash-text {
        font-size: 2.75rem;
    }

    .flash-answer-box,
    .flash-question-box {
        max-width: 300px;
        max-height: 250px;
        font-size: 1.4em;
    }

    .question {
        min-width: 200px;
        height: 120px;
        font-size: 1.8em;
    }

    // .mc-top {
    //     padding-bottom: 25px;
    // }

    .mc-question {
        font-size: 2em;
    }

    .option {
        max-width: 16vmax;
        height: 10vmax;
        font-size: 1.6em;

    }

    .flash-middle {
        margin: 0 100px;
    }

    .quiz-correctness-scores {
        margin: 20px 0;

        >* {
            font-size: 1em;
        }
    }

    .quiz-question {
        height: 150px;
        padding: 0.8em;

    }

    .titles-group {
        margin-bottom: 20px;
    }

    .progress-container {
        width: 100%;
        margin: 0;
    }

    .nav-buttons {
        margin-top: 25px;
        min-width: 40vw;
        justify-content: center;
    }

    .test-header {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .landing-choice {
        width: 90px;
        height: 90px;
        margin: 0;
    }

    // .activity-type
    .header-text,
    .activity-title
     {
        font-size: 20px;
        // padding-bottom: 20px;
    }

    #range-input {
        margin: 30px 0;
        min-width: 80vw;
    }

    .mc-middle-lower {
        max-width: inherit;
        max-height: inherit;
    }

    .mc-top {
        padding-bottom: initial;
    }
}

@media screen and (orientation:portrait) and (max-height: 570px) {
    .welcome-header-index {
        display: none;
    }
    .selected-so-far{
        margin-bottom:0px;
    }
    .mc-question {
        font-size: 2em;
    }

    .question {
        height: auto;
        font-size: 1.6em;
    }

    .operator-menu-container,
    .mc-quiz-container {
        justify-content: flex-end;
        padding-bottom: 20px;

    }

    .game-top,
    .flash-upper {
        margin-bottom: 0vh;
    }

    .activity-title,
    .activity-group {
        font-size: 20px;
        padding-bottom: 0px;
    }

    .high-title,
    .score-title {
        line-height: normal
    }

    // .score-text,
    // .level-number {
    //     font-size: 1.1em;
    // }

    .progress-container {
        padding: 3px 10px 0 10px;
    }

    // .level-container>* {
    //     font-size: 1.1em;
    // }

    .score-container {
        margin-top: 0;
    }


}

@media screen and (min-width: 1024px) {
    .profile-section {
        flex-direction: column;
        align-items: center;
    }
    .badges{
        max-width:700px;
    }
    .user {
        flex-basis: 20%;
    }

    // .badges {
    //     // margin-left: 40px;
    //     grid-template-columns: repeat(5, 1fr);
    //     max-width: none;
    // }
}

@media screen and (min-width: 768px) {
    .profile-section {
        flex-direction: row;
        align-items: center;
    }

    .profile-user-section {
        flex-basis: 20%;
        margin-right:5px;
    }

    // .badges {
    //     // margin-left: 40px;
    //     grid-template-columns: repeat(4, 1fr);
    //     max-width: none;
    // }
}



@media screen and (max-width:580px) and (orientation:landscape) {
    .selected-so-far{
        margin-bottom:0px;
    }
    .login-top,
    .signup-header {
        height: 3ch;
    }

    .signup-header {
        margin-bottom: 0;
    }

    .google-login-group {
        margin-bottom: 10px;
    }

    .login-bottom,
    .signup-landscape-bottom {
        display: flex;
        flex-direction: row;
        width: 540px;
        justify-content: space-around;
        align-items: center;
    }

    .google-button,
    .input-shell {
        width: 240px;
    }

    .form-input[type=text],
    .form-input[type=password],
    .form-input[type=email] {
        font-size: 12px;
    }

    .signup-top-left,
    .signup-bottom-right {
        max-width: 240px;
    }

    .create-account-form-button {
        margin-top: 0;
    }

    .game-top,
    .flash-upper {
        margin-bottom: 0vh;
    }

    .activity-title,
    .activity-group {
        font-size: 20px;
        padding-bottom: 0px;
    }

    .high-title,
    .score-title {
        line-height: normal
    }

    // .score-text,
    // .level-number {
    //     font-size: 1.1em;
    // }

    .progress-container {
        padding: 3px 10px 0 10px;
    }

    // .level-container>* {
    //     font-size: 1.1em;
    // }

    .score-container {
        margin-top: 0;
    }

    // .game-question {
    //     padding: 4px;
    // }

    .game-lower {
        // max-width: 40vw;

    }
}


@media screen and (max-width:900px) and (orientation:landscape) {

    .divider {
        display: none;
    }

    .login-bottom {
        display: flex;
        flex-direction: row;
        width: 600px;
        justify-content: space-around;
        align-items: center;
    }

    .login-bottom-two {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-height: 225px;
    }

    .login-left-upper {
        min-height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .google-login-group {
        margin-bottom: 0;
    }

    .play-as-guest {
        margin-bottom: 0;
    }

    .create-account-form-group {
        margin-bottom: 0;
    }

    .signup-landscape-bottom {
        display: flex;
        width: 600px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .login-form,
    .signup-form,
    .forgot-password-form {

        justify-content: flex-end;

    }

    .login-blocks,
    .google-block {
        min-height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .score-container {
        margin-top: 0;
    }

    .high-title,
    .score-title {
        line-height: normal
    }

    .score-text,
    .level-number {
        font-size: 1.1em;
    }

    .progress-container {
        padding: 3px 10px 0 10px;
    }

    .level-container>* {
        font-size: 1.1em;
    }

    .score-container {
        margin-top: 0;
    }

    // .game-question {
    //     padding: 4px;
    // }

    .game-lower {
        // max-width: 40vw;

    }

    .question-box {
        // flex-direction: column;
    }
}


@media screen and (max-height:580px) and (orientation:landscape) {
    .selected-so-far{
        margin-bottom:0px;
    }
    .divider {
        display: none;
    }

    .login-bottom {
        display: flex;
        flex-direction: row;
        width: 600px;
        justify-content: space-around;
        align-items: center;
    }

    .login-bottom-two {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-height: 225px;
    }

    .login-left-upper {
        min-height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .google-login-group {
        margin-bottom: 0;
    }

    .play-as-guest {
        margin-bottom: 0;
    }

    .create-account-form-group {
        margin-bottom: 0;
    }

    .signup-landscape-bottom {
        display: flex;
        width: 600px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .login-form,
    .signup-form,
    .forgot-password-form {

        justify-content: flex-end;

    }

    .login-blocks,
    .google-block {
        min-height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .landing-login-guest-button{
        margin-top:5px;
    }
}





// Mobile Landscape (max-width:1000px)
@media screen and (orientation:landscape) and (min-aspect-ratio:1.75) {

    .header {
        width: 200px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .welcome-top {
        padding-right: 25px;

    }

    .activity-menu-container,
    .operator-menu-container,
    .real-menu-container,
    .practice-menu-container {
        flex-direction: column;
    }
    .difficulty-menu-container{
        flex-direction:row;
    }
    .bottom {
        position: absolute;
        width: 94vw;
        justify-content: space-between;
        top: 58vh;
    }

    .nav-button {
        width: 75px;
    }

    .icons-middle {
        justify-content: flex-start;
        // flex-basis: 200px;
        z-index: 2;
    }

    .icons-middle-inner {
        justify-content: center;
        // width: 260px;
    }


    .mc-middle-lower {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &>* {
            padding: 0 10px;
            margin:0 30px;
        }
    }

    .options {
        margin-top: 0px;
        margin-left: 25px;
    }

    .activity-title,
    .activity-type {
        text-align: center;
        max-width: 250px;
    }

    .activity-title.mc {
        max-width: 250px;
    }

    .titles-group {
        width: auto;
      
        // margin-right: 5vw;
    }

    .flash-container {
        padding-top: 50px;
    }

    .quiz-container {
        padding-top: 5%;
    }

    .titles-group {
        // margin-bottom: 5vh;
    }

    .quiz-container:has(.display-container) {
        flex-direction: column;
        padding-top: 0%;
        justify-content: center;
    }

    .quiz-middle-lower {
        display: flex;
        flex-direction: row;
    }

    .game-container {
        flex-direction: row;
    }

    .game-middle-inner {
        display: flex;
        flex-direction: row;
    }

    .game-middle-lower {
        display: flex;
        flex-direction: row-row;
    }

    .game-lower {
        display: flex;
        flex-direction: column;
    }

    .game-container {
        justify-content: center;
        padding-top: 0;
    }

    .game-top {
        flex-basis: inherit;
        justify-content: center;
        margin-right: 40px;
    }

    .activity-title,
    .activity-type {
        height: 30px;
    }

    .actual-container {
        margin-left: 10px;
        margin-top: 8px;
    }

    .actual-text {

        width: max-content;
    }

    .nav-left-lower {
        display: inherit;
    }

    // .nav-left-upper {
    //     display: inherit;
    // }

    .operator-group,
    .activity-group {
        display: flex;
        // flex-direction: row;
        align-items: center;
    }

    // .game-container {
    //     // display: flex;
    //     flex-direction: column;
    // }

    .game-middle-lower {
        flex-direction: row;
        display: flex;
    }

    .nav-buttons {
        margin-top: 20px;
    }

    .icon-container {
        width: 65px;
        height: 65px;
        margin: 5px;
    }

    body {
        width: 100vw;
    }
}
@media screen and (orientation: landscape) and (min-aspect-ratio: 1.75 / 1) and (max-height:400px){

    .operator-group, .activity-group {
        // flex-direction: row;
        &>.header-top{
            padding-right:25px;
        }
    }

}




@media screen and (orientation:landscape) and (max-height:720px) and (min-aspect-ratio:1.75) {
    .inner {
        margin: 0 10px;
        min-width: 80px
    }

    .header {
        font-size: 24px;
    }

    .hi,
    .welcome-header {
        // display:none;
        font-size: 24px;
    }
}


//  (min-width:720px)
@media screen and (orientation:landscape)and (min-width:600px) and (max-aspect-ratio:1.75) {

    .activity-menu-container,
    .operator-menu-container,
    // .difficulty-menu-container,
    .game-middle-lower,
    .real-menu-container,
    .practice-menu-container {
        // display: flex;
        flex-direction: column;
    }
    .difficulty-menu-container{
        flex-direction:row;
    }
    .game-container {
        flex-direction: column;
    }

    .header {
        font-size: 26px;
    }

    .profile-img-container {
        font-size: 30px;
    }

    // .icon-container {
    //     width: 95px;
    //     height: 95px;
    //     margin: 10px;
    // }

    .icon-text,
    .operator-text {
        font-size: 18px;
    }

    .bottom {
        position: absolute;
        justify-content: space-between;
        width: 90vw;
    }

    .nav-button {
        font-size: 1.6em;
        // width: 100px;
        // height: 75px;
    }

    // .icon {
    //     font-size: 2.25em;
    // }

    .flash-upper {
        margin-bottom: 5vh;
    }

    .icons-middle {
        justify-content: flex-start;
    }

    .icons-middle-inner {
        justify-content: center;
        // width: 360px;
    }


    .flash-text {
        font-size: 2.75em;
    }

    .flash-answer-box,
    .flash-question-box {
        font-size: 1.2em;
        max-width: 300px;
        max-height: 250px;
    }

    .mc-top {
        flex-basis: 25%;
    }

    .mc-middle-lower {
        flex-basis: 50%;
        &>*{
            margin:0 20px;
        }
    }

    .mc-container {
        flex-direction: row;
    }

    .options {
        margin-top: 0;
    }

    .question {
        min-width: 250px;
        height: 180px;
        font-size: 2.8em;
    }

    .mc-question {
        // height: 100px;
        padding: 0;
        min-width: inherit;
    }

    .option {
        max-width: 150px;
        height: 100px;
        font-size: 2em;
    }

    .flash-middle {
        margin: 0 100px;
    }

    .flash-upper {
        max-width: 400px;
    }

    .quiz-container {
        flex-direction: column;
        padding-top: 5%;
        justify-content: center;
    }

    .quiz-middle-lower {
        display: flex;
        flex-direction: row-reverse;
    }

    .score-container {
        width: 100%
    }

    // .icon-small {
    //     font-size: 3em;
    // }

    .progress-container {
        width: 100%;
        margin: 0;
    }

    .game-container {
        justify-content: center;
        padding: 0;
    }

    .option {
        width: 120px;
        height: 80px;
    }

    .nav-left-lower {
        display: inherit;
    }

    // .nav-left-upper {   
    //     display: inherit;
    // }

    .operator-group,
    .activity-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-middle-lower {
        display: flex;
        flex-direction: row;
    }

    .game-question {
        // padding: 0;
        font-size: 2em;
    }

    .nav-buttons {
        margin-top: 20px;
    }
}
@media screen and (orientation:landscape) and (max-aspect-ratio:1.75) {
    // .nav-left-upper{
    //     display: inherit;
    // }
}
@media screen and (min-width:768px) and (max-height:500px) {
    .profile-section {
        flex-direction: row;
    }
}

@media screen and (orientation:landscape) {


    .activity-menu-container,
    .operator-menu-container,
    .game-middle-lower,
    .real-menu-container,
    .practice-menu-container {
        display: flex;
        flex-direction: column ;
    }
    .difficulty-menu-container{
        flex-direction: row;
    }

    .nav-left-lower{
    display: inherit;}
    // body{
    //     min-width:100vw;
    // }
    .mc-middle-lower{
        // flex-direction: row;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .operator-group,
    .activity-group {
        display: flex;
        // flex-direction: row;
        align-items: center;
    }
}

@media screen and (orientation:landscape) and (max-width:580px) {

    .hi,
    .welcome-header,
    .welcome-header-index {
        display: none;
        // font-size:18px;
    }
    .inner{
        // width:5em;
        height:5em;
    }
}

@media screen and (orientation:portrait) and (max-height:450px) {

    .hi,
    .welcome-header,
    .welcome-header-index {
        display: none;
        // font-size:18px;
    }
}

@media screen and (max-height:850px) {
    .brand-title {
    top:2.5vh;
    }
        .brand-image{
            margin-left:15px;
            width:150px;
        }
        .logo-img{
            width:30px
        }
    
        .burger-container{
            top:1vh;
            right:2vw
        }
    }