.profile.display-container {
    @include center-flex;
}

/* profile section */
.profile-section {
    @include center-flex;
    flex-direction: column;
    padding: 20px;
}

.profile-img-container {
    position: relative;
    cursor: pointer;
}

/* user section */
.profile-user-section {
    @include center-flex;
    flex-direction: column;
}

.profile-user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 25;
}

.change-avatar {
    position: absolute;
    width: 20px;
    height: 20px;
    color: $chalk-white;
    bottom: 0;
    right: -20px;
}

.profile-username {
    margin-top: 10px;
    font-size: 24px;
    color: $chalk-white;
}

/* badges section */
.badges {
    margin-top: 20px;
    padding-top:20px;
    // display: grid;
    // grid-template-columns: repeat(2, 2fr);
    // grid-gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    width: 70vw;
    // max-height: calc(100vh - 60px - 125px - 110px);
    max-height: 65vh;
    border: 2px solid transparent;

    display: flex;
    align-items: center;
    flex-direction: column;
    min-width:310px;
    // flex-wrap: wrap;
    &:hover {
        border: 2px solid $chalk-white;
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $chalkboard-green;
        border-radius: 25px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $chalk-white;
        border-radius: 25px;
    }
}

// @media screen and (orientation: landscape) and (min-width:700px){

//  .badges {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: repeat(4, 1fr);
//   }

// }
@media screen and (min-width: 850px) {

    .badges {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;

    }


}

.profile-lower-left {}

.badge {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0px;
    height: 100px;
    width: 85px;
}

.badge-img {
    max-width: 50px;
    max-height: 50px;
    filter: grayscale(100%);

    &.active {
        filter: grayscale(0%)
    }
}

.badge-description-level,
.badge-description {
    font-size: 12px;
    text-align: center;
    color: $chalk-white;
}

.badge-description-level {
    font-size: 16px;
    color: $chalk-white;
    margin-top: 5px;
    height: 20px;
    display: flex;
    font-weight: 500;
}
.badge-description{
    margin-top:3px;
    width:8ch;
}

// AVATAR MODAL
.avatar-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.avatar-modal-body {
    @include center-flex;
    overflow-y: scroll;
}

.avatar-modal-content {
    background-color: $chalk-white;
    // margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
}

.avatar-modal-header {
    display: flex;
    justify-content: space-between;

    >h2 {
        font-size: 22px;
        color: $chalkboard-green;
    }
}

.avatar-modal-close {
    color: $chalkboard-green;
    font-size: 40px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.avatar-modal-close:hover,
.avatar-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.avatar-user-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.avatar-user-icons img {
    // width: 100%;
    // max-width: 100px;
    // height: auto;
    cursor: pointer;
}

.avatar-modal-icon {
    max-width: 6em;
    max-height: 6em;
    border-radius: 3em;
}

.badges-header {
    color: $chalk-white;
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size:1.5em;
}

.badge-container-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    // flex: 50%;
    // max-width:30vw;

}

.badge-addition-row,
.badge-subtraction-row,
.badge-multiplication-row,
.badge-division-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // margin: 20px 0;
    max-height:62px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &>* {
        padding: 20px;
        color: $chalk-white;
        text-decoration: underline;
    }
}

.badges-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 15px 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.badges-addition,
.badge-addition-row {
    background: rgb(110 224 110 / 20%);
}


.badges-subtraction,
.badge-subtraction-row {
    background: rgb(0 189 255 / 20%);
}

.badges-multiplication,
.badge-multiplication-row {
    background: rgb(245 186 66 / 20%);
}

.badges-division,
.badge-division-row {
    background: rgb(228 111 228 / 20%);
}