$timesTableNumberSize: 40px;
$timesTableColumnWidth: 105px;

.rotate-please {
  display: none;
  justify-content: center;
  align-items: center;
}
.rotate-text {
  color: $chalk-white;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.lesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.times-table-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: relative;
  /*   border:2px solid black; */
  width: $timesTableColumnWidth;
}

.number {
  outline: 0;
  margin: 0;
  z-index: 1;
  border-radius: 20px;
  color: $chalk-white;
  font-size: 0.9rem;
  width: $timesTableNumberSize;
  height: $timesTableNumberSize;
  // background-color: #f0f0f0;
  /*   border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 150ms ease-out;
}

.number.active,
.number:hover {
  z-index: 1;
  border-radius: 20px;
  color: $chalkboard-green;
  background-color: $wood;
  // text-decoration:underline;
  font-weight: 800;
  transition: all 150ms ease-out;
}

.times-table-header {
  color: $chalk-white;
  padding-bottom: 20px;
}

.times-table {
  overflow: hidden;
  // height: 482px;
  // width: 270px;
  max-width: 90vw;

  background-color: $chalkboard-green;
  color: $chalk-white;
  /*   padding: 10px; */
  // font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  // transition: opacity 0.4s ease, height 0.4s ease;
}

.times-table table {
  border-collapse: collapse;
  width: 100%;
}

.times-table th,
.times-table td {
  // border: 1px solid $largeWoodBorder;
  padding: 8px;
  text-align: center;
  // text-align: right;
  height: $timesTableNumberSize;
}

.times-table th {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  width: $timesTableColumnWidth;

  // &:after {
  //   content: "=";
  //   color: $chalk-white;
  //   position: absolute;
  //   right: 0px;
  //   top: 10px;
  // }
}

.times-table td {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  // font-size: 1rem;
  font-weight: 800;
  width: 80px;
  text-align: inherit;
}

tr:hover {
  background-color: $chalk-white;
  color: $chalkboard-green;
}

.times-table-bottom {
  // display:flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

//     .lesson {
//       flex-direction: column;
//       justify-content: center;
//       align-items:start;
//       max-height:90vh;
//     }
//     .times-table-header{
//       width:100%;
//       display:flex;
//       justify-content:center;
//       align-items:center;
//     }
//     .number-container {
//       flex-direction: row;
//        justify-content: center;
//       align-items:center;
//     height: auto;
//       position:relative;
//     }

//     .number {

//         width: 40px;
//     height: 40px;
//     }

//     .times-table {
//         height: auto;
//         width: $timesTableSize * 12;
//     // height: 100%;

//       margin-top: 0;
//   /*     margin-left: 20px; */
//   ;
//       max-height: 100%;
//       overflow: hidden;
//      // transition: opacity 0.4s ease, width 0.4s ease;

//   }

//   .times-table-bottom{
//     // display:flex;
//     position:relative;
//     flex-direction:column;
//     justify-content:center;
//     align-items:Center;
//   }

//     tr{

//      height:40px;
//       width:200px;

//     }

@media screen and (max-height: 650px) {
  .times-table-header {
    font-size: 0.75em;
    padding-bottom: 5px;
  }
  .number-container {
    width: 30px;
  }
  .times-table {
    line-height: 0.8;
    font-size: 13px;
    &tr {
      height: 25px;
    }
  }
  .number {
    width: 30px;
    height: 30px;
  }
  .times-table th,
  .times-table td {
    height: 30px;
    padding: 2px;
  }
}
@media screen and (orientation: landscape) and(max-height:415px) {
  .lesson {
    display: none;
  }
  .rotate-please {
    display: flex;
  }
}
