/* Variable Declarations */
$kelly-green: rgba(41, 191, 18, 1);
$red-munsell: rgba(242, 27, 63, 1);
$minus-blue: #00bdff;
$plus-green: #6ee06e;
$division-purple: #e46fe4;
$multiply-orange: #f5ba42;
$chalkboard-green: #274c43;
$chalk-white: #eae6df;
$wood: #BA8C63;

$largeWoodBorder: 12px solid $wood;

$shadow: rgba(255, 225, 225, 0.1);
$headerSize: 24px;
$lightText: rgba(255, 225, 225, 1);
$darkText: rgba(25, 25, 25, 1);

$cardShadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.5);
$shadowLarge: 14px 12px 4px -1px rgba(0, 0, 0, 0.5);

$mobileHeaderTextSize: 20px;
$mobileIconTextSize: 18px;
$TabletHeaderTextSize: 26px;
$TabletIconTextSize: 20px;
$DesktopHeaderTextSize: 30px;
$DesktopIconTextSize: 20px;
$smallText: 12px;

$chalkboardFont: 'pangolin', cursive;

$size: 40vw;
$color: $chalk-white;