@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inconsolata&family=Modak&family=Pangolin&family=Patua+One&family=Roboto&display=swap');




/* SCSS HEX */
$kelly-green: rgba(41, 191, 18, 1);

$red-munsell: rgba(242, 27, 63, 1);

$minus-blue:#00bdff;
$plus-green:#6ee06e;
$division-purple:#e46fe4;
$multiply-orange:#f5ba42;


$chalkboard-green:#274c43;
$chalk-white:#eae6df;;
$wood:#BA8C63;

/* Variable Declarations */

$shadow: rgba(255, 225, 225, 0.1);
$headerSize: 24px;
$lightText: rgba(255, 225, 225, 1);
$darkText: rgba(25, 25, 25, 1);


$cardShadow:3px 4px 5px -1px rgba(0,0,0,0.5);
$shadowLarge:14px 12px 4px -1px rgba(0, 0, 0, 0.5);

$mobileHeaderTextSize: 26px;
$mobileIconTextSize: 18px;

$TabletHeaderTextSize: 30px;
$TabletIconTextSize: 20px;

$DesktopHeaderTextSize: 30px;
$DesktopIconTextSize: 20px;


:root {
  --thumb-width: 20px;
}




/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select:none;
}

html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
      width:auto;
      height:auto;
      min-height: -webkit-fill-available;
      overflow: hidden;
}

body {
  padding:0;
  margin:0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-family:'Pangolin',cursive;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  min-width:100vw;
  height: auto;
  // min-height:100vh;
  min-height: -webkit-fill-available;
background: -webkit-linear-gradient(225deg, hsla(306, 38%, 73%, 1) 29%, hsla(204, 49%, 70%, 1) 63%, hsla(202, 56%, 74%, 1) 81%, hsla(176, 58%, 72%, 1) 100%);

}

.brand-title{
  display:flex;
  font-family:Pangolin;
  font-size:22px;
  width:330px;
  text-align:center;

  position:absolute;
  top:5vh;
  left:5vw;
  z-index:20;
  color:$chalk-white;
}
/* Game Container Styles */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  // height:100vh;
  // min-height: -webkit-fill-available;
  position: relative;
}
 .middle, .bottom{
  max-width:100%;
  width:100%;
}
.top{

  width:90%;
}
.middle{
  position:relative;
  align-items:center;
  justify-content:center;
}


.flash-box {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: 1em;
  margin: 1em;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  margin:0;
}
.flash-container{
  display: none;
}
.flash-card-container {
  width:80%;
  max-width:250px;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
  position: relative;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);

  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;

  -webkit-transform: perspective(1000px);
  -webkit-transition: 0.3s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;

  transition: 0.3s;
  transform-style: preserve-3d;
}
.flash-text {
  font-size: 40px;
  font-weight: 600;
}
.flash-question-box {
  position:relative;
  min-height: 200px;
  background:$chalkboard-green;
  color:$chalk-white;
  font-family:'Pangolin', cursive;
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  box-shadow: $shadowLarge;
  &::after{
    position: absolute;
    color:$chalk-white;
    font-family:'Pangolin', cursive;
    content: "Question";
    top: 10px;
    left: 10px;
    font-style: italic;
    z-index: 10;
    font-size: 20px;
    
  }
}
.flash-answer-box {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg); 
  min-height: 200px;
  background:$chalkboard-green;
  color:$chalk-white;
  font-family:'Pangolin', cursive;
  box-shadow: $shadowLarge;

  &::after{
    position: absolute;
    color:$chalk-white;
    font-family:'Pangolin', cursive;
    content: "Answer";
    top: 10px;
    left: 10px;
    font-style: italic;
    z-index: 10;
    font-size: 20px;
  }
}
.flash-box{
  border:5px solid $wood;
  border-radius:5px;
}
.flip {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}




.sub-container {
  width: 100%;
}
/* Login Container Styles */
.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1em;
  position: absolute;
  padding: 1em;
  top: 25px;
  left: 25px;

  & > * {
    padding: 10px;
    height: 3em;
  }
}
.login-button {
  width: 8ch;
  padding: 0;
}

/* Subjects Container Styles */


.box-container{
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: $shadow;
  border-radius: 10px;
  justify-content: center;
  max-width: 400px;
  margin-bottom: 1em;
}



.menu-box{
  display: flex;
  flex-direction:row;
  width: 100%;
  justify-content: space-evenly;
 
  flex-wrap:wrap;
  background:lightgrey;
  border-radius:10px;
  padding:25px;
  margin:10px 0;
}
.choose-container{
   grid-area:choices;
}


/* Start, New Game, and Answer Submit Button Styles */
.start-container {
  width: 100%;
  > button {
    width: calc(100% - 24px);
    margin: 12px;
  }
}

// .startbtn,
.game-input::placeholder {
  color:$chalk-white;
}
.answer-submit
{
  margin:12px;
  cursor:pointer;
  outline:none;
  display: block;
  padding: 0.8em;
  border:none;
  border-radius: 8px;
  text-rendering: optimizeLegibility;
  font-family: "Pangolin",cursive;
  font-weight: 400;
  font-size:16px;
  background-color: $wood;
  color:$chalk-white;
  box-shadow: $cardShadow;
  transform: translate(0px, 0px);
  transition: 100ms transform ease, 50ms box-shadow ease;
  width: 100px;
  &:active {
    box-shadow: 0px 0px 1px black;
    transform: translate(2px, 2px);
  }
}
.choose-option{
  margin:10px;
  height:70px;
  width:70px;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-basis:30%;
}


.title {
  color:$chalk-white;
  text-align: center;
  padding: 20px;
  width: 100%;
}
.title-description {
  color:$chalk-white;
  font-size: 1em;
  font-weight: 200;
  width: 100%;
  padding: 5% 25%;
  text-align: center;
}
.quiz-scores-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  font-size: 16px;
  color:$chalk-white;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .quiz-curr-score-container,
  .quiz-last-score-container {
    color:$chalk-white;
    visibility: hidden;
    transition: all 500ms ease;
    font-weight: 800;
    font-size:1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 2px;

    & > * {
      padding: 2px;
      margin: 2px;
      color: $chalk-white
    }

  }

}

.question {

background:$chalkboard-green;
color:#eae6df;
font-family:'Pangolin', cursive;
  max-width:100%;
  
  font-size:2em;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.wood{
  padding:12px;
  background-color:$wood;
  border-radius:8px;
  box-shadow:$cardShadow;
}

.question-number {
  // font-size: 2.8em;
  padding: 1rem;
}
.question-text {
  // font-size: 2.4em;
}
.operator {
  transform: translate(0px, 0px);
  // font-size: 2.4em;
  padding: 4px;
}
.input {
  font-family:'Pangolin', cursive;
  margin-left: 10px;
  width: 5ch;
  height: 3.6ch;
  font-size: 1em;
  text-align: center;
  padding: 0;
  min-width: 4ch;
  border-radius: 20px;
  color:$chalk-white;
  background: $chalkboard-green;
  border: 3px dashed $chalk-white;
  &:active{
    outline:none;
  }
}
.question-box {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 200 ease;
}
.correctness-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.correctness {
  padding: 0.5em;
  margin: 0.2em 0;
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  border-radius:8px;
}
.score-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.curr-score-container,
.high-score-container {
  width: 160px;
  min-width: 150px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 1em;
  border-radius: 10px;
}
.high-title,
.score-title {
  margin-right: 15px;
  font-size: 1.1rem;
  line-height: 2em;
  color: $chalk-white;
}
.score-text {
  color: $chalk-white;
  font-size: 1.8em;
}

.progress-container {
  color: $chalk-white;
  width: 70%;
  min-width: 200px;
  max-width: 500px;
  padding: 1em;
  border-radius: 10px;
}
.level-container {
  display: flex;
  justify-content: center;
  min-width: 200px;
  & > * {
    color: $chalk-white;
    font-size:1.2em;
  }
}
.tracker-container {
  width: 100%;
  height: 25px;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 20px;
}

.tracker {
  margin: 0;
  width: 0%;
  height: 100%;
  transition: width 1.5s ease-out;
  background-color: rgb(102, 34, 204);
}
.game-correctness{
  width:200px;
  margin-left:20px;
}
.actual-container {
  display: flex;
  visibility: hidden;
  flex-direction: row;
  padding: 0.5em;
  text-align: left;
  font-size: 1em;
  border-radius: 10px;
  padding: 0.5em;
  width: 100%;
  justify-content: center;
}
.actual {
  color:$chalk-white;
  font-family: 'Pangolin';
}
.actual-text {
  margin-right: 2px;
  color: $chalk-white;
}

.game-container,
.quiz-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.burger-container {
  width: 60px;
  height: 60px;
  display: none; // make none after editing.
background:rgba(255, 255, 255, 0);
  position: absolute;
  top: 8vh;
  right: 5vw;
  transition: all 200ms ease;
  &:hover {
background:rgba(255, 255, 255, 0.25);
    .burger:not(.open) span:nth-child(1) {
      transform: scaleX(0.8);
    }
    .burger:not(.open) span:nth-child(2) {
      transform: scaleX(0.5);
    }
    .burger:not(.open) span:nth-child(3) {
      transform: scaleX(0.8);
    }
  }
}
.burger {
  width: 35px;
  height: 30px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  & span {
    background-color:$chalk-white;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 5px;
    &:nth-child(1) {
      top: 0px;
      left: 0px;
    }
    &:nth-child(2) {
      top: 13px;
      left: 0px;
    }
    &:nth-child(3) {
      bottom: 0px;
      left: 0px;
    }
  }
}


.burger span:nth-child(1) {
  top: 0px;
  left: 0px;
} 
.burger span:nth-child(2) {
  top: 13px;
  left: 0px;
}
.burger span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.burger.open span:nth-child(1) {
  transform: rotate(90deg);
  top: 13px;
}
.burger.open span:nth-child(2) {
  transform: scale(0);
  transition-duration: 50ms;
}
.burger.open span:nth-child(3) {
  top: 13px;
}



.level-text {
  margin-right: 10px;
  margin-bottom: 10px;
  color:$chalk-white;
}


.message-intro {
  text-align: center;
  font-weight: 600;
  line-height: 2em;
  padding: 0px 10px;
  font-size: 2em;
}
.message-modal {
  visibility: hidden;
  z-index: 10;
  background-color: $chalk-white;
  padding: 50px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 5px solid purple;
  font-family:"Pangolin";
}

.correct-answer {
  background-color:$kelly-green;
  color: $darkText;
  font-family:'Pangolin';
}
.incorrect-answer {
  background-color: $red-munsell;
  color: $darkText;
  font-family:'Pangolin';
}
.incorrect {
  animation: horizontal-shaking 0.4s;
}
.options-container {
  z-index: 100;
  display: flex;
  align-content: center;
  justify-content: center;
}
.options {
  z-index: 100;
  display: grid;
  grid-template-areas: "option option"
  "option option";
  flex: wrap;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top:25px;
}

.option {
  background-color:$chalkboard-green;
  color:$chalk-white;
  font-family:'Pangolin',Cursive;
  padding: 20px 40px;
  margin: 15px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 18px;
  width: 70vw;
  max-width: 100px;
  z-index: 120;
  border: 2px $plus-green solid;
  font-size: 1.2em;
  font-weight: 600;
   box-shadow:$cardShadow;
  display:flex;
  justify-content:center;
  align-items: center;

}
.mc-container {
  display: none;
  justify-content: center;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}


.operator-menu-container,.difficulty-menu-container{
  display:none;
}

.activity-menu-container,.middle, .top,.bottom{
  display:flex;


}
.display-container{
  background:$chalkboard-green;

  width:100vw;
  height:100vh;
  max-width:100%;
  max-height:100%;
  min-height:calc(-webkit-fill-available - 4vh);
  // flex-direction:row;
  align-items:center;
  justify-content:center;
  border:12px solid $wood;
}
.sub-container{
  background:$chalkboard-green;
  width:100vw;
  height:100vh;
  max-width:100%;
  max-height:100%;
  min-height:calc(-webkit-fill-available - 4vh);
  flex-direction:column;
  align-items:center;
  justify-content:center;
  border:12px solid $wood;
}

.inner{
  background:$chalkboard-green;
  display:flex;
  align-items:center;
  justify-content:space-around;
  flex-direction: column;
}
.icon-container{
  background-color:$chalkboard-green;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
    border:2px solid rgba(100,100,100,0);
  border-radius:100%;
  width: 100px;
  height:100px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  padding:10px;
  margin:10px;
  &:hover{
    cursor:pointer;
  transition: all 0.25s cubic-bezier(.25,.8,.25,1);
  
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform:scale(1.0);
  }
  
}
.operator-text{
  font-family: 'Pangolin', cursive;
  font-size: $mobileIconTextSize;
  color:$chalk-white;
  margin-bottom:15px;

}
.quiz{
   &:hover{    
     background-color:$minus-blue;
     & > * {
       color:$chalkboard-green;
      
     };
  }
  &.activity-selected{
     
    background-color:$minus-blue;
    border-radius:5px;

    & > * {
      color:$chalkboard-green;
     
    };
 }
}
.mc{
   &:hover{
     
     background-color:$division-purple;
   
    
     & > * {
      color:$chalkboard-green;
    
     };
  }
  &.activity-selected{
     
    background-color:$division-purple;
     border-radius:5px;

    & > * {
      color:$chalkboard-green;
      
    };
 }
}
.flash{
   &:hover{
     
     background-color:$multiply-orange;


     & > * {
      color:$chalkboard-green;

     };
  }
  &.activity-selected{
     
    background-color:$multiply-orange;
    border-radius:5px;

    & > * {
      color:$chalkboard-green;
     
    };
 }
}
.game{
   &:hover{
     
     background-color:$plus-green;
     
 
     & > * {
      color:$chalkboard-green;
     };
  }
  &.activity-selected{
     
    background-color:$plus-green;
    border-radius:5px;

    & > * {
      color:$chalkboard-green;
      
    };
 }
}
.middle-inner{
  display:grid  ;
  grid-template-areas: "icon icon"
  "icon icon";
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  
}
.bottom{
  display:flex;
  align-items:center;
  justify-content:space-around;
  padding-top:40px;
}
.nav-button{
  outline:none;
  border:0px solid rgba(157, 157, 157, 0);
  background-color:$chalkboard-green;
  width:100px;
  height:50px;
    transition: all 0.25s cubic-bezier(.25,.8,.25,1);
  border-radius:30px;
  font-family:"Patua One";
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  padding:5px;
  font-size:2.5em;
  color:#97b7d7 ;
  &:hover{
    transform:scale(1.00);
    background: -webkit-linear-gradient(225deg, hsla(306, 38%, 73%, 1) 29%, hsla(204, 49%, 70%, 1) 63%, hsla(202, 56%, 74%, 1) 81%, hsla(176, 58%, 72%, 1) 100%);
    
    cursor:pointer;
    border:0px solid rgba(157, 157, 157,1);
  border-radius:20px;
    > *{
      color:rgb(250, 250, 242);
    }
  }
}
.top{
  display:flex;
  align-items:end;
  justify-content:center;
}


.icon{
  font-size:3em;
}
.pen-icon{
  color:$minus-blue
}
.flash-icon{
  color:$multiply-orange
}
.mc-icon{
  color:$division-purple
}
.game-icon{
  color:$plus-green
}




.add{
  &:hover{
    
    background-color:$plus-green;
    & > * {
      color:$chalkboard-green;
    };
 }
 &.active-operator{
  background-color:$plus-green;
  border-radius:5px;
  & > * {
    color:$chalkboard-green;
  };
 }
}
.minus{
  &:hover{
    
    background-color:$minus-blue;
    & > * {
      color:$chalkboard-green;
    };
 }
 &.active-operator{
    
  background-color:$minus-blue;
  border-radius:5px;
  & > * {
    color:$chalkboard-green;
  };
}
}
.mult{
  &:hover{
    
    background-color:$multiply-orange;
    & > * {
      color:$chalkboard-green;
    };
  }
  &.active-operator{
  
    background-color:$multiply-orange;
    border-radius:5px;
    & > * {
      color:$chalkboard-green;
    };
 }
}
.div{
  &:hover{
    
    background-color:$division-purple;
    & > * {
      color:$chalkboard-green;
    };
  }
    &.active-operator{
    
      background-color:$division-purple;
      border-radius:5px;
      & > * {
        color:$chalkboard-green;
        
      };
 }
}
.plus-icon{
  color:$plus-green;
}
.minus-icon{
  color:$minus-blue;
}
.times-icon{
  color:$multiply-orange;
}
.divide-icon{
  color:$division-purple;
}

.operator-choice > *{
  pointer-events:none;

}
.activities-choice >*{
  pointer-events:none;
}


.difficulty{
  flex-direction:column;
}

#range-input {
  --thumb-color:green;
  -webkit-appearance: none;
  width: 30vw;
  min-width:280px;
  height: 18px;
  margin: 30px;
  padding: 0;
  background-color: lightgray;
  outline: none;
  border: none;
  border-radius: 5px;
  position: relative;
}

#range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: var(--thumb-color);
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#range-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#range-input::-moz-range-track {
  background-color: lightgray;
  height: 5px;
  border-radius: 5px;
  border: none;
}

#range-input::-ms-track {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  height: 5px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border: none;
}

#range-input::-ms-fill-lower {
  background-color: lightgray;
  border-radius: 5px;
}

#range-input::-ms-fill-upper {
  background-color: lightgray;
  border-radius: 5px;
}

#range-input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

#range-input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

#range-input:focus::-ms-thumb {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.titles-left{
  display: flex;
  flex-direction: column;
}
.titles-group{
  width:90%;
  display: grid;
  grid-template-areas: "4fr 1fr" ;
  grid-gap:25px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // margin-bottom:5vh;

}
.activity-title, .activity-type{
  text-align:center;
}
.activity-title{
  font-size:24px;


}
.activity-type{
  font-size:24px;
}
.mc-top{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
}
.icon-text{
  font-family: 'Pangolin', cursive;
  font-size: $mobileIconTextSize;
  margin-bottom:15px;
  color:$chalk-white;
}
.difficulty-text{
  font-family:'Pangolin', cursive;
  font-size:$mobileHeaderTextSize;
  padding:5px;
  color:$chalk-white;
}

.header, .activity-title, .activity-type{
 
  font-family:"Pangolin";
  font-size:$mobileHeaderTextSize;
  text-align:center;
  height:80px;
  width:240px;
  color:$chalk-white;
}
.activity-title, .activity-type{
  height:40px;
  max-width:200px;
}
.hide-from-view{
  visibility: hidden;
}
.quiz-question{
  border-radius:10px;
 max-width:94vw;
 padding:2em;
}
.quiz-input{
  &::placeholder{
    color:$chalk-white;
  }
}
.quiz-container{
  padding-top:15%;
}
.quiz-icon{
  font-size:2em;
  color:$minus-blue;
}

.mc-container{
  justify-content: flex-end;
  padding-bottom:25px;
}
.quiz-correctness-scores{
  padding: 0 20px;
}

.progress-container{
  width:100%;
  margin:0em;
  padding-bottom:0;}
.curr-score-container, .high-score-container,.game-correctness .correctness{
  margin:0.2em;
  padding:0;
  
}
.correctness{
  padding:0.2em;
}
.game-question{
  padding:1em;
}
.game-titles-group{
  margin-bottom:0;
}
.actual-container{
  padding:0;
}
.correctness-container{
  display: flex;
  flex-direction:row;
  justify-content: center;
}
.game-correctness{
  max-width:100px;
}
.icon-small{
  font-size:2em;
}
.game-container{
  justify-content: center;
  padding-top: 14%;
}
.mc-container{
  justify-content: center;
  flex-direction:column;
  padding-top:25px;
}
.nav-left-upper{
  display:none;
}
.activity-menu-container, .operator-menu-container, .difficulty-menu-container{
  flex-direction:column;
}
.nav-buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top:25px;
}

// Mobile Landscape (max-width:1000px)
@media only screen and  (orientation:landscape) and (min-aspect-ratio:1.75) {
  .header{
    width:200px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right:25px;
  }
.activity-menu-container, .operator-menu-container, .difficulty-menu-container{
  flex-direction: row;
}
.bottom{
  position: absolute;
  width:94vw;
  justify-content: space-between;
  top: 58vh;
}
.nav-button{
  width:75px;
}
.middle{
  justify-content: flex-start;
  flex-basis:260px;
  z-index:2;
}
.middle-inner{
  justify-content: center;
  width:260px;
}
// .top{
//   justify-content: flex-end;
//   padding-left:20px;
//   flex-basis:200px;
// }

.mc-middle-lower{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  & >*{
    padding: 0 10px;
  }
}
.options{
  margin-top:0px;
  margin-left:25px;
}
.activity-title,.activity-type{
  text-align: center;
  max-width: 175px;
}

.activity-title.mc{
  max-width:200px;
}
.titles-group{
  width:auto;
  margin-right:5vw;
}
.flash-container{
  
padding-top:50px;

}
.quiz-container{
  padding-top:5%;
}
.titles-group{
  margin-bottom:5vh;
}
.quiz-container:has(.display-container){
  flex-direction:column;
  padding-top:0%;
  justify-content: center;
}
.quiz-middle-lower{
  display: flex;
  flex-direction: row;
}
.game-container{
  flex-direction:column;
}
.game-middle-inner{
  display:flex;
  flex-direction: row;
}
.game-middle-lower{
  display:flex;
  flex-direction: row-row;
}
.game-lower{
  display: flex;
  flex-direction: column;
}

.game-container{
  justify-content: center;
  padding-top:0;
}
.game-top{
  flex-basis:inherit;
  justify-content: center;
  margin-top:20px;
}
.activity-title,.activity-type{
  height:30px;
}
.actual-container{
  margin-left:10px;
  margin-top:8px;
}
.actual-text{
 
  width:max-content;
}
.nav-left-lower{
  display:none;
}
.nav-left-upper{
  display:inherit;
}
.operator-group, .activity-group{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.game-container{
  // display: flex;
  flex-direction: column;
}
.game-middle-lower{
  flex-direction: row;
  display: flex;
}
.nav-buttons{
  margin-top:0;
}
}

// Tablet - Portrait

  // /* 


@media only screen  and (max-aspect-ratio:1.75) and (orientation:portrait) {
  /* CSS code for tablet devices */

  .header{
    font-size:30px;;
    margin-bottom:50px;
    padding-left:40px;
    padding-right:25px;
  }
  .icon-container{
    width:105px;
    height:105px;
    margin:10px;
  }
  .icon-text, .operator-text{
    font-size:24px;
  }
  .bottom{
    justify-content: space-between;
    width:90vw;
  }
  .nav-button{
    font-size:2.75em;
    width:100px;
    height:75px;
    
  }
  .icon{
    font-size:3.75em;
  }
  .game-top,.flash-upper{
    margin-bottom:5vh;
  }
  .flash-text{
    font-size:2.75em;
  }
  .flash-answer-box,.flash-question-box{
    max-width:300px;
    max-height:250px;
    font-size:1.4em;
  }
  .question{
    min-width:250px;
    height: 120px;
  font-size:1.8em;
  }
  .mc-top{
    padding-bottom:25px;
  }
  .mc-question{
    font-size:2.8em;
  }
  .option{
    max-width:130px;
    height:95px;
  font-size:1.8em;

  }
.flash-middle{
  margin:0 100px;
}
.quiz-correctness-scores{
  margin:  20px 0;
  >*{
    font-size:1.6em;
  }
}
.quiz-question{
  height:150px;
  padding:2em;

}
.titles-group{
  margin-bottom:inherit;
}
.progress-container{
  width:100%;
  margin:0;
}
.nav-buttons{
  margin-top:25px;
}
}
//  (min-width:720px)
@media only screen  and (max-aspect-ratio:1.75) and (orientation:landscape) {
  // .display-container{
  // flex-direction: row;

  // }
  .activity-menu-container, .operator-menu-container, .difficulty-menu-container, .game-middle-lower{
    // display: flex;
    flex-direction: row;
  }
  .game-container{
    flex-direction: column;
  }
.header{
  font-size:32px;
}
.icon-container{
  width:105px;
    height:105px;
  margin:10px;
}
.icon-text, .operator-text{
  font-size:24px;

}
.bottom{
  position: absolute;
  justify-content: space-between;
  width:90vw;


}
.nav-button{
  font-size:2.75em;
  width:100px;
  height:75px;
  
}
.icon{
  font-size:3.75em;
}
.middle{
  justify-content: flex-start;
  flex-basis:400px;
}
.middle-inner{
  justify-content: center;
width:360px;
}
.top{
  // padding-right:30px;
  flex-basis:150px;
}
.flash-text{
  font-size:2.75em;
}

.flash-answer-box,.flash-question-box{
  font-size:1.2em;
  max-width:300px;
  max-height:250px;
}
.mc-top{
  flex-basis:40%;
}
.mc-middle-lower{
  flex-basis:60%;
}
.mc-container{
  flex-direction:row;
}
.options{
  margin-top:0;
}
.question{
  min-width:250px;
height: 180px;
  font-size:2.8em;
}
.mc-question{
  height:100px;
  padding:0;
  min-width:inherit;

}
.mc-question-box{
  // justify-content: flex-start;
}
.option{
  max-width:150px;
  height:100px;
  font-size:2em;
}
.flash-middle{
  margin: 0 100px;
}
.flash-upper{
  max-width:400px;
}

.quiz-container{
  flex-direction:column;
  padding-top:5%;
  justify-content: center;
}
.quiz-middle-lower{
  display: flex;
  flex-direction: row-reverse;
}
.score-container{
  width:100%
}
.icon-small{
  font-size:3em;
}
.progress-container{
  width:100%;
  margin:0;
}
.game-container{
  justify-content: center;
  padding:0;
}
.option{
  width:120px;
  height:80px;
}
.nav-left-lower{
  display:none;
}
.nav-left-upper{
  display:inherit;
}
.operator-group, .activity-group{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.game-middle-lower{
  display: flex;
  flex-direction: row;
}
.game-question{
  padding:0;
  font-size:2em;
}
.nav-buttons{
  margin-top:0;
}
}





