<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,  initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description"
    content="Math Game for Grades 2-3. Helping kids with learning addition, subtraction, multiplication, and division. Fun games, quizes, and flash cards to test their knowledge.">

  <title>Math Genius</title>
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/styles.css">

  <script src="https://www.google.com/recaptcha/api.js"></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Shade&family=Roboto&family=Inconsolata&family=Londrina+Shadow&family=Patua+One&family=Pangolin&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>



  <div class="forgot-password-menu-container display-container" id="forgot-password-menu-container">
    <div class="forgot-password-container">


      <div class="forgot-password-top">
        <h1 class="forgot-password-header">Forgot Password</h1>
        <% if(passwordMessage) { %>
          <div class="forgot-password-flash-message <%= messageType %>" id="forgot-password-flash-message">
            <p>
              <%=passwordMessage %>
            </p>
            <!-- <button class="close-forgot-password-alert" id="close-login-alert"><i class="close-login-alert-icon">x</i></button> -->
          </div>


          <% } %>
      </div>

  
      <div class="forgot-password-bottom">       
<!-- 
      <form class="login-form" id="login-form" action="/login" method="post">

        <div class="login-form-group">

            <div class="input-shell">
              <i class="input-icon fa-solid fa-user-large"></i>
              <div class="input-seperator"></div>
            <input class="form-input" type="text" id="username" name="username" placeholder="Username" required>
            </div>


        </div>
        <div class="login-form-group">

            <div class="input-shell">
              <i class="input-icon fa-solid fa-key"></i>
              <div class="input-seperator"></div>
            <input class="form-input" type="password" id="password" name="password" placeholder="Password" required>
            </div>

        </div>
        <div class="login-form-group">
          <button title="login-button" type="submit" class="login-form-button g-recaptcha"
        
          data-sitekey="6Ld1bOElAAAAAFQP-87plPiMToZYqojLl6P7NyGj" 
          data-callback='onSubmit' 
          data-action='submit'>Sign In</button>
        </div>
      </form>
 -->





      <form class="forgot-password-form" id="forgot-password-form" action="/forgot-password" method="POST">
        <div>
          <label>Send a reset link to your email:</label>

            <div class="input-shell">
    <i class="input-icon fa-regular fa-envelope"></i>
    <div class="input-seperator"></div>
          <input class="form-input" type="email" name="email"  placeholder="email" required></div>
        </div>
        <div>
          <button  title="forgot-password-button" class="forgot-password-form-button"  type="submit">Reset Password</button>
        </div>
      </form>


      </div>



      <form class="to-login-form" id="to-login" action="/login" method="GET">
        <!-- <div> -->
          <!-- <label:</label> -->
          <!-- <input class="back-to-login" type="email" name="email"  placeholder="email" required> -->
        <!-- </div> -->
        <div>
          <button  title="back-to-login-button" class="back-to-login-button"  type="submit">Back to Log in Page</button>
        </div>
      </form>
    </div>

</div>


  </div>



  <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
  <!-- <script src="../js/axios_.js"></script> -->
  <!-- <script>
  var loginAlert = document.getElementById("login-flash-message");


// When the user clicks the button, open the modal 

// When the user clicks on <span> (x), close the modal
  function closeAlert() {
    
    loginAlert.style.display = 'none';
  }

  var closeButton = document.getElementById('close-login-alert');
  closeButton.addEventListener('click', closeAlert);

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (loginAlert.target == loginAlert) {
    modal.style.display = "none";
  }
}
</script> -->
  <script src="../js/forgotPasswordAlert.js"></script>
  <script>
    function onSubmit(token) {
      document.getElementById("login-form").submit();
    }
  </script>
</body>

</html>