

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,  initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes" >
<meta name="description"content="Math Game for Grades 2-3. Helping kids with learning addition, subtraction, multiplication, and division. Fun games, quizes, and flash cards to test their knowledge.">

<title>Math Genius</title>
<link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/styles.css">
<!-- Sweet Alert CSS -->



<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Shade&family=Inconsolata&family=Londrina+Shadow&family=Patua+One&family=Pangolin&display=swap" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Delicious+Handrawn&family=Fredericka+the+Great&family=Mansalva&family=Pangolin&family=Short+Stack&display=swap" rel="stylesheet"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  


    <div class="login-menu-container display-container" id="login-menu-container">
        <!-- <div class="nav-left nav-left-upper hide-from-view"> <button class="nav-button hide-from-view " id="login-menu-backward"><i class="forward-arrow fas fa-arrow-left fa-lg"></i></button>
        </div> -->
          <div class="login-container">
            <h1 class="login-header">Login</h1>
        <div class="login-error-message" id="login-error-message">errorMESSAGE: </div>

            <form id="login-form" action="/login" method="post">
           
              <div class="login-form-group">
                <label  class="login-label" for="username">Username:</label>
                <input class="login-input" type="text" id="username" name="username" required>
              </div>
              <div class="login-form-group">
                <label  class="login-label" for="password">Password:</label>
                <input class="login-input" type="password" id="password" name="password" required>
              </div>
              <div class="login-form-group">
                <button title="login-button" type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
            <div class="login-form-group">
              <a href="/auth/google" class="btn btn-google">
                <span class="material-icons">person</span>
                Login with Google
              </a>
            </div>
            <div class="login-form-group">
              <a href="/signup">Don't have an account? Sign up now!</a>
            </div>
            <div class="guest">
                <a href="/play">Play as a guest.</a>
              </div>
            
          </div>
   

      <!-- <div class="nav-buttons">
        <div class="nav-right"> <button class="nav-button"  onclick="window.location.href='/play'" id="login-menu-forward" >

          <i class=" forward-arrow fas fa-arrow-right fa-lg"></i></button></div>
          </div> -->
        <!-- <div class="bottom"> -->
          <!-- <button class="nav-button"><i class=" back-arrow fas fa-arrow-left fa-lg"></i></button> -->


        <!-- </div> -->


</div>


<!-- <script type="module" src="/js/formInteraction.js"></script> -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../js/axios_.js"></script>

</body>
</html>