<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description"
    content="Math Game for Grades 2-3. Helping kids with learning addition, subtraction, multiplication, and division. Fun games, quizes, and flash cards to test their knowledge.">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Math Genius</title>
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preload" as="image" href="../assets/mouse.png" imagesrcset="/assets/mouse.png">
  <link rel="preload" as="image" href="../assets/cat.png" imagesrcset="/assets/cat.png">
  <link rel="preload" as="image" href="../assets/dog.png" imagesrcset="/assets/dog.png">
  <link rel="preload" as="image" href="../assets/elephant.png" imagesrcset="/assets/elephant.png">
  <link rel="preload" as="image" href="../assets/bear.png" imagesrcset="/assets/bear.png">
  <link rel="preload" as="image" href="/assets/lion.png" imagesrcset="/assets/lion.png">
  <link rel="preload" as="image" href="/assets/bunny.png" imagesrcset="/assets/bunny.png">
  <link rel="preload" as="image" href="/assets/fox.png" imagesrcset="/assets/fox.png">
  <link rel="preload" as="image" href="/assets/medal.png" imagesrcset="/assets/medal.png">

  <link
    href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Monomaniac+One&family=Pangolin&family=roboto&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


</head>

<body>




  <%- include('partials/_burger') %>
    <%- include('partials/_brand') %>








      <div class="main-container">
        <div class="profile display-container" id="profile-container">





          <div class="profile-section">
            <div class="profile-upper-left">
              <div class="profile-user-section">
                <div class="profile-img-container">
                  <img id="profile-user-avatar" class="profile-user-avatar" src="../assets/temp.png" alt="User Image" />
                  <!-- <i aria-name="change-avatar" id="choose-avatar" class="change-avatar fas fa-pencil"></i> -->

                  <div id="avatar-modal" class="avatar-modal">
                    <div class="avatar-modal-content">
                      <div class="avatar-modal-header">
                        <h2>Select a user icon</h2>
                        <span id="avatar-modal-close" class="avatar-modal-close">&times;</span>
                      </div>
                      <div class="avatar-modal-body">
                        <div id="avatar-user-icons" class="avatar-user-icons">
                          <img class="avatar-modal-icon" src="../assets/bunny.png" title="Bunny" alt="Bunny" width="80"
                            height="80">
                          <img class="avatar-modal-icon" src="../assets/dog.png" title="Dog" alt="Dog" width="80"
                            height="80">
                          <img class="avatar-modal-icon" src="../assets/elephant.png" title="Elephant" alt="Elephant"
                            width="80" height="80">
                          <img class="avatar-modal-icon" src="../assets/bear.png" title="Bear" alt="Bear" width="80"
                            height="80">
                          <img class="avatar-modal-icon" src="../assets/lion.png" title="Lion" alt="Lion" width="80"
                            height="80">
                          <img class="avatar-modal-icon" src="../assets/cat.png" title="Cat" alt="Cat" width="80"
                            height="80">
                          <img class="avatar-modal-icon" src="../assets/fox.png" title="Fox" alt="Fox" width="80"
                            height="80">
                          <img class="avatar-modal-icon" src="../assets/mouse.png" title="Mouse" alt="Mouse" width="80"
                            height="80">

                        </div>
                      </div>
                    </div>
                  </div>


                </div>
                <h1 class="profile-username" id="profile-username">
                  <%= userData.name %>
                </h1>
              </div>
            </div>
            <div class="profile-lower-right">

              <div class="badges-header">Achievements</div>

              <div class="badges">
                <div class="badge-container-row">
                  <div class="badge-addition-row">
                    <div class="badge-row-title">Addition</div>
                    <div class="badge-row-icon"> <i class="plus-icon icon fas fa-plus fa-large"></i></div>
                  </div>
                  <div class="badges-section badges-addition">


                    <div title="To unlock badge, get 10/10 score." class="badge">
                      <img id="lc-a" data-badge-type="game" data-badge-number="1" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Level Challenge Badge - Addition" />
                      <p class="badge-description-level" id="lc-addition-badge-level">-</p>
                      <p class="badge-description">Level Challenge </p>
                    </div>
                    <div title="To unlock badge, get 10/10 score." class="badge">
                      <img id="mc-a" data-badge-type="mcquiz" data-badge-number="1" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Multiple Choice Quiz Badge - Addition" />
                      <p class="badge-description-level" id="mc-addition-badge-level">-</p>
                      <p class="badge-description">Multiple Choice</p>
                    </div>
                    <div title="To unlock badge, get 10/10 score." class="badge">
                      <img id="pq-a" data-badge-type="quiz" data-badge-number="" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Pop Quiz Badge - Subtraction" />
                      <p class="badge-description-level" id="pq-addition-badge-level">-</p>
                      <p class="badge-description">Pop Quiz </p>
                    </div>
                  </div>
                </div>
                <div class="badge-container-row">
                  <div class="badge-subtraction-row">
                    <div class="badge-row-title">Subtraction</div>
                    <div class="badge-row-icon"> <i class=" minus-icon icon fas fa-minus fa-large"></i></div>
                  </div>
                  <div class="badges-section badges-subtraction">

                    <div title="To unlock badge, get 10/10 score." class="badge">
                      <img id="lc-s" data-badge-type="game" data-badge-number="1" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Level Challenge Badge - Subtraction" />
                      <p class="badge-description-level" id="lc-subtraction-badge-level">-</p>
                      <p class="badge-description">Level Challenge </p>
                    </div>
                    <div title="To unlock badge, get 10/10 score." class="badge">
                      <img id="mc-s" data-badge-type="mcquiz" data-badge-number="1" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Multiple Choice Quiz Badge - Subtraction" />
                      <p class="badge-description-level" id="mc-subtraction-badge-level">-</p>
                      <p class="badge-description">Multiple Choice</p>
                    </div>
                    <div title="To unlock badge, get 10/10 score." class="badge">
                      <img id="pq-s" data-badge-type="quiz" data-badge-number="1" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Pop Quiz Badge - Subtraction" />
                      <p class="badge-description-level" id="pq-subtraction-badge-level">-</p>
                      <p class="badge-description">Pop Quiz </p>
                    </div>
                  </div>
                </div>

                <div class="badge-container-row">
                  <div class="badge-multiplication-row">
                    <div class="badge-row-title">Multiplication</div>
                    <div class="badge-row-icon"> <i class=" times-icon icon fas fa-times fa-large"></i></div>
                  </div>
                  <div class="badges-section badges-multiplication">
                    <div title="To unlock badge, get 10/10 score." class="badge">
                      <img id="lc-m" data-badge-type="game" data-badge-number="" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Level Challenge Badge - Multiplication" />
                      <p class="badge-description-level" id="lc-multiplication-badge-level">-</p>
                      <p class="badge-description">Level Challenge </p>
                    </div>
                    <div title="To unlock badge, get 10/10 score." class="badge">
                      <img id="mc-m" data-badge-type="mcquiz" data-badge-number="1" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Multiple Choice Quiz Badge - Multiplication" />
                      <p class="badge-description-level" id="mc-multiplication-badge-level">-</p>
                      <p class="badge-description">Multiple Choice</p>
                    </div>
                    <div title="To unlock badge, get 10/10 score." class="badge">
                      <img id="pq-m" data-badge-type="quiz" data-badge-number="1" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Pop Quiz Badge - Multiplication" />
                      <p class="badge-description-level" id="pq-multiplication-badge-level">-</p>
                      <p class="badge-description">Pop Quiz </p>
                    </div>
                  </div>
                </div>

                <div class="badge-container-row">
                  <div class="badge-division-row">
                    <div class="badge-row-title">Division</div>
                    <div class="badge-row-icon"> <i class=" divide-icon icon fas fa-divide fa-large"></i></div>
                  </div>
                  <div class="badges-section badges-division">

                    <div title="To unlock badge, get 10/10 score." class="badge">
                      <img id="lc-d" data-badge-type="game" data-badge-number="5" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Level Challenge Badge - Division" />
                      <p class="badge-description-level" id="lc-division-badge-level">-</p>
                      <p class="badge-description">Level Challenge </p>
                    </div>
                    <div title="To unlock badge, get 10 questions in a row correct" class="badge">
                      <img id="mc-d" data-badge-type="mcquiz" data-badge-number="1" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Mulitple Choice Quiz Badge - Division" />
                      <p class="badge-description-level" id="mc-division-badge-level">-</p>
                      <p class="badge-description">Multiple Choice </p>
                    </div>
                    <div title="To unlock badge, get 10 questions in a row correct" class="badge">
                      <img id="pq-d" data-badge-type="quiz" data-badge-number="2" class="badge-img" width="50"
                        height="50" src="../assets/medal.png" alt="Pop Quiz Badge - Division" />
                      <p class="badge-description-level" id="pq-division-badge-level">-</p>
                      <p class="badge-description">Pop Quiz </p>
                    </div>
                  </div>
                </div>

                <!-- <div title="Unlock all badges to get Super Genius Badge" class="badge">
                  <img id="genius-all" data-badge-type="genius" data-badge-number="16" class="badge-img" width="50" height="50"
                    src="../assets/medal.png" alt="Challenge 5" />
                  <p class="badge-description-level">Super Genius</p>
                  <p class="badge-description">  </p>
                </div> -->
                <!-- more badges can be added here -->
              </div>
            </div>
          </div>
        </div>

      </div>

      <script type="module" src="/js/profile.js"></script>
      <script type="module" src="/js/badges.js"></script>
      <script type="module" src="/js/burger.js"></script>



</body>

</html>