<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,  initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description"
    content="Math Game for Grades 2-3. Helping kids with learning addition, subtraction, multiplication, and division. Fun games, quizes, and flash cards to test their knowledge.">

  <title>Math Genius</title>
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
  <link rel="stylesheet" href="/css/styles.css">

  <script src="https://www.google.com/recaptcha/api.js"></script>

  <link
    href="https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Shade&family=Roboto&family=Inconsolata&family=Londrina+Shadow&family=Patua+One&family=Pangolin&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

  <%- include('partials/_brand') %>

  <div class="reset-password-menu-container display-container" id="reset-password-menu-container">

    <div class="reset-password-container">








      <div class="reset-password-top">
        <h1 class="reset-password-header">Reset Password</h1>
        <% if(passwordMessage) { %>
          <div class="reset-password-flash-message <%= messageType %>" id="reset-password-flash-message">
            <p>
              <%=passwordMessage %>
            </p>
          </div>


          <% } %>
      </div>


      <div class="reset-password-bottom">




        <form class="reset-password-form" id="reset-password-form" action="/reset-password/<%= token %>" method="POST">
          <div>
            <label for="'password">New Password:</label>

            <div class="input-shell">
              <i class="input-icon fa-regular fa-key"></i>
              <div class="input-seperator"></div>
              <input class="form-input" type="password" name="password" placeholder="New password" required>
            </div>


          </div>
          <div>
            <label for="'confirm-password">Confirm Password:</label>

            <div class="input-shell">
              <i class="input-icon fa-regular fa-key"></i>
              <div class="input-seperator"></div>
              <input class="form-input" type="password" name="confirm-password" placeholder="Confirm password" required>
            </div>


          </div>

          <div>
            <button id="reset-password-button" title="reset-password-button" class="reset-password-form-button  g-recaptcha"
            data-sitekey="6Ld1bOElAAAAAFQP-87plPiMToZYqojLl6P7NyGj" data-callback='onSubmitGuest' data-action='submit' type="submit">Reset
              Password</button>
          </div>
        </form>

      </div>













      <div class="reset-password-to-login-container">
        <p class="reset-password-to-login-text"></p><a class="reset-password-to-login-link" href="/login">Back to
          Log in</a>
      </div>
    </div>




      <!-- <form class="to-login-form" id="to-login" action="/login" method="GET">
        <div>
          <button title="back-to-login-button" class="back-to-login-button" type="submit">Back to Log in Page</button>
        </div>
      </form> -->
    </div>
  </div>



  <script src="../js/resetPasswordAlert.js"></script>
  <script src="../js/resetPasswordAuth.js"></script>
  <script src="../js/recaptcha/resetPasswordRecaptcha.js"></script>

</body>

</html>