<!-- <a class="brand-title" href="/">MathGenius</a> -->
<a class="brand-title" href="/"
  ><img
    class="logo-img"
    width="36"
    height="36"
    src="../../assets/Logo-Chalk.svg" /><img
    class="brand-image"
    width="175"
    src="../../assets/LightBrand.svg"
/></a>
