<div class="menu-choices-container">
  <div class="menu-choices">
    <div class="menu-choice-activity-container">
      <div class="menu-choice-header" id="menu-choice-activity-text"></div>

      <div class="icons-middle-inner">
        <div class="inner">
          <div
            class="icon-container game real-choice"
            id="new-game"
            data-type="game"
          >
            <p></p>
            <i class="game-icon icon fas fa-crown fa-large"></i>
          </div>
          <p class="icon-text">Level Challenge</p>
        </div>
        <div class="inner">
          <div
            class="icon-container quiz real-choice"
            id="new-quiz"
            data-type="quiz"
          >
            <p></p>
            <i class="pen-icon icon fas fa-arrow-up-1-9 fa-large"></i>
          </div>
          <p class="icon-text">Pop Quiz</p>
        </div>
        <div class="inner">
          <div
            class="icon-container mc-quiz real-choice"
            id="new-mc-quiz"
            data-type="multiple-choice-quiz"
          >
            <p></p>
            <i class="mc-quiz-icon icon fas fa-list-ol fa-large"></i>
          </div>
          <p class="icon-text">Multiple Choice</p>
        </div>
      </div>
    </div>

    <div class="menu-choice-operator-container">
      <div class="menu-choice-header" id="menu-choice-operator-text"></div>

      <div class="icons-middle-inner">
        <div class="inner">
          <div class="icon-container add operator-choice" data-sub="+" id="add">
            <i class="plus-icon icon fas fa-plus fa-large"></i>
          </div>
          <div class="operator-text addition">Addition</div>
        </div>
        <div class="inner">
          <div
            class="icon-container minus operator-choice"
            data-sub="-"
            id="sub"
          >
            <i class="minus-icon icon fas fa-minus fa-large"></i>
          </div>
          <div class="operator-text subtraction">Subtraction</div>
        </div>

        <div class="inner">
          <div
            class="icon-container mult operator-choice"
            data-sub="x"
            id="mul"
          >
            <i class="times-icon icon fas fa-times fa-large"></i>
          </div>
          <div class="operator-text multiplication">Multiplication</div>
        </div>
        <div class="inner">
          <div class="icon-container div operator-choice" data-sub="/" id="div">
            <i class="divide-icon icon fas fa-divide fa-large"></i>
          </div>
          <div class="operator-text division">Division</div>
        </div>
      </div>
    </div>
  </div>
</div>
