<div class="practice-menu-container display-container" id="practice-menu-container">
  <div class="activity-group">
    <div class="top practice-top">
      <div class="header practice-header">Practice</div>
    </div>
    <div class="middle">
      <div class="middle-inner">
        <div class="inner">
          <div class=" icon-container flash practice-choice" id="new-flash" data-type="flash">
            <p></p>
            <i class=" flash-icon icon fas fa-bolt fa-large"></i>
          </div>
          <p class="icon-text">Flash Cards</p>
        </div>
        <div class="inner">
          <div class=" icon-container mc practice-choice" id="new-mc" data-type="multiple-choice">
            <p></p>
            <i class=" mc-icon icon fas fa-table-cells-large fa-large"></i>
          </div>
          <p class="icon-text">Multiple Choice</p>
        </div>
      </div>
    </div>
  </div>

</div>