<div class="learning-menu-container display-container" id="learning-menu-container">
  <div class="activity-group">
    <div class="header-top">
      <div class="header-text">Learning Tools</div>
    </div>
    <div class="icons-middle">
      <div class="icons-middle-inner">
        <div class="inner">
          <div class=" icon-container times-tables learning-choice" id="new-times-tables" data-type="times-tables">
            <p></p>
            <i class=" times-tables-icon icon fas fa-close fa-large"></i>
          </div>
          <p class="icon-text">Times Tables</p>
        </div>
        <div class="inner">
          <div class=" icon-container fractions learning-choice" id="new-fractions" data-type="fractions">
            <p></p>
            <i class=" fractions-icon icon fas fa-chart-pie fa-large"></i>
          </div>
          <p class="icon-text">Fractions</p>
        </div>
      </div>
    </div>
  </div>

</div>