<div class="learning-menu-container display-container" id="learning-menu-container">
  <div class="activity-group">
    <div class="top practice-top">
      <div class="header learning-header">Learning Tools</div>
    </div>
    <div class="middle">
      <div class="middle-inner">
        <div class="inner">
          <div class=" icon-container times-tables learning-choice" id="new-times-tables" data-type="times-tables">
            <p></p>
            <i class=" times-tables-icon icon fas fa-close fa-large"></i>
          </div>
          <p class="icon-text">Times Tables</p>
        </div>

      </div>
    </div>
  </div>

</div>