<div class="lesson">
    <div class="lessons-header">
      <h1>Fractions</h1>
      </div>
    <div class="lessons-bottom">
      <div class="fraction-carousel-container">
        <div class="fraction-carousel">
          <div class="fraction-lesson">
            <!-- Content for the upper and lower parts of fractions using pizza examples -->
            <h2>Understanding the Parts of a Pizza Fraction</h2>
            <p>A pizza can be divided into equal parts. The top part is called the numerator, and it tells us how many slices we have. The bottom part is called the denominator, and it tells us the total number of equal slices the pizza is divided into.</p>
            <img src="../../assets/pizza_3.png" alt="Pizza Fraction Example">
            <p>For example, if we have eaten 3 out of 8 slices of a pizza, we can represent it as <sup>3</sup>/<sub>8</sub>.</p>
          </div>
          <div class="fraction-lesson">
            <!-- Content for comparing fractions using pizza examples -->
            <h2>Comparing Fractions</h2>
            <p>When comparing pizza fractions, we look at the number of slices remaining. The more slices we have, the larger the fraction.</p>
            <img src="pizza_comparison.png" alt="Pizza Fraction Comparison Example">
            <p>For example, if we have <sup>3</sup>/<sub>8</sub> of a pizza and our friend has <sup>2</sup>/<sub>8</sub> of a pizza, we can see that our fraction is larger because we have more slices remaining.</p>
          </div>
          <div class="fraction-lesson">
            <!-- Content for adding fractions using pizza examples -->
            <h2>Adding Fractions</h2>
            <p>When adding pizza fractions, we can combine the slices from different pizzas into a single pizza. If the bottom part is the same on both fractions, you can simply add the two top numbers.</p>
            <img src="pizza_addition.png" alt="Pizza Fraction Addition Example">
            <p>For example, if we have <sup>1</sup>/<sub>8</sub> of a pizza and we add <sup>2</sup>/<sub>8</sub> of another pizza, we get a total of <sup>3</sup>/<sub>8</sub>.</p>
          </div>
         
          <div class="fraction-lesson">
            <!-- Content for subtracting fractions using pizza examples -->
            <h2>Subtracting Fractions</h2>
            <p>When subtracting pizza fractions, we can remove slices from a pizza to find the remaining fraction. If the bottom numbers are the same for both fractions, you can simply subtract the top numbers.</p>
            <img src="pizza_subtraction.png" alt="Pizza Fraction Subtraction Example">
            <p>For example, if we have <sup>5</sup>/<sub>8</sub> of a pizza and we subtract <sup>2</sup>/<sub>8</sub> of the pizza, we are left with <sup>3</sup>/<sub>8</sub>.</p>
          </div>
          
           <div class="fraction-lesson">
            <!-- Content for multiplying fractions using pizza examples -->
            <h2>Multiplying Fractions</h2>
            <p>When multiplying fractions, you multiply the top parts, and you multiply the bottom parts.</p>
            <img src="pizza_multiplication.png" alt="Pizza Fraction Multiplication Example">
            <p>For example, if we have <sup>1</sup>/<sub>8</sub> of a pizza and we multiply it by 5 (could be written as <sup>5</sup>/<sub>1</sub>), we get a total of <sup>5</sup>/<sub>8</sub> slices.</p>
          </div>
          
          <div class="fraction-lesson">
            <!-- Content for dividing fractions using pizza examples -->
            <h2>Dividing Fractions</h2>
            <p>When dividing fractions by a number, you can divide the numerator (top) by that number.</p>
            <img src="pizza_division.png" alt="Pizza Fraction Division Example">
            <p>For example, if we have <sup>8</sup>/<sub>8</sub> of a pizza and we divide it equally among 2 people, each person will have <sup>4</sup>/<sub>8</sub> of the pizza.</p>
          </div>
          <!-- Add more lessons here -->
        </div>
      </div>
      <button class="fraction-previous-btn">Previous</button>
      <button class="fraction-next-btn">Next</button>
      

    
    
  <!--   </div> -->
    </div>
    <div class="rotate-please">
      <div class="rotate-text">
        To best view times tables, rotate to portrait view!
      </div>
    </div>