<div class="menu-choices-container">
  <div class="menu-choices">
<div class="menu-choice-activity-container">
  <div class="menu-choice-header" id="menu-choice-activity-text">



    <div class="icons-middle-inner">
      <div class="inner">
        <div class=" icon-container game real-choice" id="new-game" data-type="game">
          <p></p>
          <i class=" game-icon icon fas fa-crown fa-large"></i>
        </div>
        <p class="icon-text">High Score Challenge</p>
      </div>
      <div class="inner">
        <div class=" icon-container quiz real-choice" id="new-quiz" data-type="quiz">
          <p></p>
          <i class="pen-icon icon fas fa-arrow-up-1-9 fa-large"></i>
        </div>
        <p class="icon-text">Pop Quiz</p>
      </div>
      <div class="inner">
        <div class=" icon-container mc-quiz real-choice" id="new-mc-quiz" data-type="multiple-choice-quiz">
          <p></p>
          <i class=" mc-quiz-icon icon fas fa-list-ol fa-large"></i>
        </div>
        <p class="icon-text">Multiple Choice</p>
      </div>
    </div>



  </div>
</div>


<div class="menu-choice-operator-container">
    <div class="menu-choice-header"  id="menu-choice-operator-text"></div>
</div>
<div class="menu-choice-difficulty-container">
    <div class="menu-choice-header"  id="menu-choice-difficulty-text"></div>
</div>
  </div>
</div>