<div class="mc-quiz-container display-container" id="mc-quiz-container">
  <div class="mc-top">
    <div class="titles-group">
      <div class="titles-left">
        <h2 class="activity-title mc">Multiple Choice</h2>
        <h2 class="activity-type"> Quiz</h2>
        <div id="selected-operator-general"></div>
        <div id="selected-difficulty-general"></div>
      </div>
      <div class="title-icon"><i class=" mc-quiz-icon icon-small fas fa-list-ol fa-large"></i>
      </div>
    </div>
  </div>
  <div class="mc-middle-lower">
    <div class="mc-middle">
      <form id="mc-quiz-answer-form" class="question-box mc-question-box">
        <div id="mc-quiz-question-box" class="question-field mc-question">
          <div id="mc-quiz-first-number" class="question-number question-text"></div>
          <div id="mc-quiz-first-operator" class="operator question-text"></div>
          <div id="mc-quiz-second-number" class="question-number question-text"></div>
        </div>
      </form>
    </div>
    <div class="mc-bottom">
      <div id="mc-quiz-options-container" class="options-container">
        <div id="mc-quiz-options" class="options"></div>
      </div>
    </div>
    <div class="mc-quiz-stats">
      <div class="mc-question-number">
        <p>Question:</p><span id="mc-question-number"></span>
      </div>
      <div class="mc-num-correct">
        <p>Correct:</p><span id="mc-questions-correct"></span>
      </div>
    </div>
  </div>
</div>