<div class="operator-menu-container display-container" id="operator-menu-container">
  <!-- <div class="nav-left nav-left-upper"> <button title="nav-button-backward" class="nav-button"
      id="operator-practice-menu-backward-upper"><i class=" back-arrow fas fa-arrow-left fa-lg"></i></button>
  </div> -->
  <div class="operator-group">

    <div class="selected-so-far">
      <div class="selected-activity" id="selected-activity-op" data-activity="">

      </div>
    </div>
    <div class="header-top">
      <div class="header-text">What would you like to learn about?</div>
    </div>
    <div class="icons-middle">
      <div class="icons-middle-inner">
        <div class="inner-operator">
          <div class="inner">
            <div class=" icon-container add operator-choice" data-sub="+" id="add">
              <i class="plus-icon icon fas fa-plus fa-large"></i>
            </div>
            <div class="operator-text addition">Addition</div>
          </div>
          <div class="inner">
            <div class=" icon-container minus operator-choice" data-sub="-" id="sub">
              <i class=" minus-icon icon fas fa-minus fa-large"></i>
            </div>
            <div class="operator-text subtraction">Subtraction</div>
          </div>
        </div>
        <div class="inner-operator">

          <div class="inner">
            <div class=" icon-container mult operator-choice" data-sub="x" id="mul">
              <i class=" times-icon icon fas fa-times fa-large"></i>
            </div>
            <div class="operator-text multiplication">Multiplication</div>
          </div>
          <div class="inner">
            <div class=" icon-container div operator-choice" data-sub="/" id="div">
              <i class=" divide-icon icon fas fa-divide fa-large"></i>
            </div>
            <div class="operator-text division">Division</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-buttons">
    <div class="nav-left nav-left-lower"> <button title="nav-button-backward" class="nav-button"
        id="operator-practice-menu-backward-lower"><i class=" back-arrow fas fa-arrow-left fa-lg"></i></button>
    </div>
    <!-- <div class="nav-right"> <button title="nav-button-forward" class="nav-button" id="operator-menu-forward"><i
          class=" forward-arrow fas fa-arrow-right fa-lg"></i></button>
    </div> -->
  </div>
</div>