<div class="lesson">
    <div class="times-table-header">
      <h1>Times Tables</h1>
      </div>
    <div class="times-table-bottom">
      <div class="number-container">
  <!--          <div class="slide-container"> -->
        <div class="number" data-number="1">1</div>
        <div class="number" data-number="2">2</div>
        <div class="number" data-number="3">3</div>
        <div class="number" data-number="4">4</div>
        <div class="number" data-number="5">5</div>
        <div class="number" data-number="6">6</div>
        <div class="number" data-number="7">7</div>
        <div class="number" data-number="8">8</div>
        <div class="number" data-number="9">9</div>
        <div class="number" data-number="10">10</div>
        <div class="number" data-number="11">11</div>
        <div class="number" data-number="12">12</div>
            <div class="slider-landscape"></div>
            <div class="slider-portrait"></div>
  <!--       </div> -->
      </div>
  <!--     <div class="times-table-container"> -->
      <div class="times-table"></div>
      </div>
    
    
  <!--   </div> -->
    </div>
    <div class="rotate-please">
      <div class="rotate-text">
        To best view times tables, rotate to portrait view!
      </div>
    </div>